<!DOCTYPE html>
<html>
<head>
    <title>CONTACT US</title>
    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size: 7em;
        }

        table,
        td,
        th {
            border: 1px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 15px;
        }
    </style>
</head>

<body>
    <h2>Contact Information</h2>
    <p></p>
        <h4><b>NAME</b> : <%=name%></h4>
        <h4><b>EMAIL</b> : <%=email%></h4>
        <h4><b>SUBJECT</b> : <%=subject%></h4>
        <h4><b>Contact Number</b> : <%=contactNumber%></h4>
        <h4><b>Company Name</b> : <%=companyName%></h4>
        <h4><b>Message</b> : <%=message%></h4>
</body>

</html>